<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Adopter Servlet -->
    <servlet>
        <servlet-name>AdopterServlet</servlet-name>
        <servlet-class>src.main.java.com.Web.AdopterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdopterServlet</servlet-name>
        <url-pattern>/adopter</url-pattern>
    </servlet-mapping>

    <!-- Pet Servlet -->
    <servlet>
        <servlet-name>PetServlet</servlet-name>
        <servlet-class>src.main.java.com.Web.PetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PetServlet</servlet-name>
        <url-pattern>/pets</url-pattern>
    </servlet-mapping>

    <!-- Staff Servlet -->
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>src.main.java.com.Web.StaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>

    <!-- Welcome File -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file> 
    </welcome-file-list>

    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location> 
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location> 
    </error-page>

</web-app>